<!DOCTYPE html>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{name}}</h4>
    {{#each assets}}
      <p class="card-text" id"{{name}}">{{name}}: {{allocation}}</p>
    {{/each}}
  </div>
</div>
